# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_HOST_PORT=5432

# Base Airflow
AIRFLOW_DB_NAME=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=change_me

# Base project
VELIB_DB_NAME=velib
VELIB_DB_USER=velib
VELIB_DB_PASSWORD=change_me

# Airflow
AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=change_me
AIRFLOW_API_SECRET_KEY=change_me
AIRFLOW_JWT_SECRET=change_me
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=change_me

# Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me
